.thumbnail {
  width: 300px;
  display: block;
  margin-bottom: 10px;
}

.search-bar {
  font-size: 10px;
  margin-bottom: 10px;
  display: block;
}

p {
  font-family: Roboto;
  margin: 0;
}

.video-preview {
  width: 300px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.video-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.video-author,.video-stats {
  font-size: 12px;

}