header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  align-items: center;
  border-bottom: 1px solid rgba(222, 222, 222,1);;
  justify-content: space-between;
}
.search-bar {
  border: none;
  height: 100%;
  font-size: 22px;
  width: 95%;
}

.hamburger-logo, .youtube-logo {
  height: 20px;
}

.hamburger-logo {
  margin-right: 10px;
}

.div-search-icon {
  height: 100%;
  border: 1px solid orange;
}
.search-icon {
  height: 20px;
  
}

.search-bar:focus {
  outline: none;
}

.right-section,.left-section {
  width: 300px;
}

.right-section {
  margin-left: 10px;
}

.middle-section {
  border: 1px solid rgba(222, 222, 222,1);
  flex: 1;
  padding: 10px 0 10px 13px;
  max-width: 700px;
}


